<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>FunctionsContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://reportgeneration20230927172421.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/51a8db0b-c4d4-4d70-9833-bf288e441e21/resourcegroups/ServiceBusDemo/providers/Microsoft.Web/sites/ReportGeneration20230927172421</ResourceId>
    <IsLinux>true</IsLinux>
    <ContainerResourceId>/subscriptions/51a8db0b-c4d4-4d70-9833-bf288e441e21/resourcegroups/ServiceBusDemo/providers/Microsoft.ContainerRegistry/registries/ReportGeneration20230927172656</ContainerResourceId>
    <ContainerResourceName>ReportGeneration20230927172656</ContainerResourceName>
    <Subscription>SGR-Learning</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>reportgeneration20230927172656.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
  </PropertyGroup>
</Project>